<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/main.css">
  <title><%=title%></title>
</head>
<body>
  <div class="wrapper">
      <article class="article">
        <img class="article__img" src="<%=image %>" alt="Carátula de
        <%=title%>" />
        <div>
            <h3 class="article__title">
                <%=title%>
              </h3>
              <p class="article__gender">Género: <%=gender%>
              </p>
              <a href="../" class="article__back">Volver a inicio</a>
            </article>
        </div>
  </div>
</body>
</html>